.homepage {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.nav-bar {
    align-items: center;
    background-color: #dddcdc;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 71px;
    padding: 13px 32px 14px 44.5px;
    width: 100%;
}

.home-header /* AGENZIA */ {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 31px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.3025;
    margin-right: 1080px;
    white-space: nowrap;
}

.nav-link-text /* HOME */ {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.2125;
    margin-right: 60px;
    white-space: nowrap;
}

.nav-link-text1 /* ABOUT */ {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.2125;
    margin-right: 60px;
    white-space: nowrap;
}

.nav-button /* ILLUSTRATORS */ {
    align-items: center;
    background-color: #1d1a37;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 144px;
}

.laboca-header /* TITLE HEADER */ {
    color: black;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2125;
    margin: 31px 10px 31px 0;
    white-space: nowrap;
}

.laboca-image /* IMAGE HEADER */{
    width: 100%;
    height: 685px;
    display: flex;
    padding: var( 0 0 0 48px);
    position: relative;
    min-height: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: url("la boca/AP_La_Boca_PARASITE_2x.png");
    background-position: center;
    margin-bottom: 94px;
}

.text_image_gallery /* TEXT + IMAGE */{
align-items: center;
justify-content: center;
display: flex;
flex-shrink: 0;
margin-bottom: 94px;
width: 100%;
}


.text /* LA BOCA TEXT */{
    color: black;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.625px;
    line-height: 1.2125;
    margin: 60px 20px 0 40px;
    max-width: 800px;
    float: left;
    text-align: justify;
}

.image_right /*  CAMILO IMAGE */{
    border-radius: 40px;
    flex-shrink: 0;
    height: 733px;
    object-fit: cover;
    width: 640px;
    float: left;
    position: absolute;
    margin-left: 110px;
}


.artwork /* ARTWORK TITLE */{
    color: black;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2125;
    margin-bottom: 80px;
    white-space: nowrap;
    text-align: right;
    margin-top: 100px;
}

.group-1-gallery /* 1ST SET OF IMAGES */{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0 32px 52px 0;
    width: calc(100%-32px);
}


.photo-1 {
    background-image: url("la boca/AP_La_Boca_STLYIST_B_2x.png");
    background-position: -36px -36px;
    background-size: 110.667% 107.556%;
    border-radius: 40px;
    flex-shrink: 0;
    height: 962px;
    margin-right: 32px;
    position: relative;
    width: 672px;
}

.photo-2 {
    background-image: url("la boca/AP_La_Boca_Suspiria_STYLE_A_2x-scaled-1.png");
    background-position: -36px -36px;
    background-size: 110.867% 107.465%;
    border-radius: 40px;
    flex-shrink: 0;
    height: 962px;
    position: relative;
    width: 672px;
}


.group-2-gallery /* 2ND SET OF IMAGES */ {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0 32px 0 1px;
    width: calc(100%-33px);
    margin-bottom: 60px;
}

.photo-3 {
    background-image: url("la boca/AP_La_Boca_Waitrose_2x-scaled.png");
    background-position: -36px -36px;
    background-size: 110.242% 107.825%;
    border-radius: 40px;
    flex-shrink: 0;
    height: 962px;
    margin-right: 32px;
    position: relative;
    width: 672px;
}

.photo-4 {
    background-image: url("la boca/AP_La_Boca_STLYIST_C_2x.png");
    background-size: 110.242% 107.825%;
    border-radius: 40px;
    flex-shrink: 0;
    height: 962px;
    object-fit: cover;
    vertical-align: top;
    width: 672px;
}


.footer {
    align-items: center;
    background-color: #1d1a37;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    padding: 58.5px 102.27px 58.5px 59.5px;
    width: 100%;
}

.agenzia {
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    line-height: 40px;
    margin-right: 425px;
    white-space: nowrap;
}

.email {
    color: white;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    margin: 0px 500px 0px 100px;
    text-align: center;
    white-space: nowrap;
}

.instagram {
    flex-shrink: 0;
    height: 32px;
    margin: 0.06px 5px 0.3px 0;
    object-fit: contain;
    vertical-align: top;
    width: 32px;
}

.facebook {
    flex-shrink: 0;
    height: 32px;
    margin: 0.06px 23px;
    object-fit: contain;
    vertical-align: top;
    width: 32px;
}

.twitter {
    flex-shrink: 0;
    height: 32px;
    margin: 0 17px 0.23px 0;
    object-fit: contain;
    vertical-align: top;
    width: 32px;
}

.linkedin {
    flex-shrink: 0;
    height: 32px;
    margin-top: 0.091px;
    object-fit: contain;
    vertical-align: top;
    width: 32px;
}